.git
.gitignore
.gitattributes
.editorconfig

node_modules
vendor

.env
.env.backup
.env.production

storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore

public/build
public/hot
public/storage

.phpunit.cache
.phpunit.result.cache

.idea
.vscode
.fleet

copiaDb

*.log
npm-debug.log
yarn-error.log

Dockerfile*
docker-compose*.yml
.dockerignore
README.md
